.untitled-page.root {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 7168px;
  background-color: black;
  overflow: hidden;
}
.untitled-page .rect {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 7091px;
  left: 0px;
  width: 1440px;
  height: 77px;
  background-color: white;
}
.untitled-page .rect1 {
  position: absolute;
  top: 14px;
  right: 40px;
  bottom: 7109px;
  left: 1194px;
  width: 206px;
  height: 45px;
  background-color: #717ad1;
  border-radius: 21px 21px 21px 21px;
}
.untitled-page .rect2 {
  position: absolute;
  top: 78px;
  right: 0px;
  bottom: 6476px;
  left: 0px;
  width: 1440px;
  height: 614px;
  background-color: black;
}
.untitled-page .rect3 {
  position: absolute;
  top: 428px;
  right: 1286px;
  bottom: 6695px;
  left: 29px;
  width: 125px;
  height: 45px;
  background-color: white;
  border-radius: 22.5px 22.5px 22.5px 22.5px;
}
.untitled-page .rect31 {
  position: absolute;
  top: 428px;
  right: 1140px;
  bottom: 6695px;
  left: 175px;
  width: 125px;
  height: 45px;
  background-color: white;
  border-radius: 22.5px 22.5px 22.5px 22.5px;
}
.untitled-page .rect4 {
  position: absolute;
  top: 313px;
  right: 716px;
  bottom: 6761px;
  left: 29px;
  width: 695px;
  height: 94px;
  background-color: white;
  border-radius: 16px 16px 16px 16px;
}
.untitled-page .rect5 {
  position: absolute;
  top: 694px;
  right: 0px;
  bottom: 6062px;
  left: 0px;
  width: 1440px;
  height: 412px;
  background-color: black;
}
.untitled-page .rect6 {
  position: absolute;
  top: 1107px;
  right: 0px;
  bottom: 5521px;
  left: 0px;
  width: 1440px;
  height: 540px;
  background-color: black;
}
.untitled-page .rect7 {
  position: absolute;
  top: 1648px;
  right: 0px;
  bottom: 4954px;
  left: 0px;
  width: 1440px;
  height: 566px;
  background-color: black;
}
.untitled-page .rect8 {
  position: absolute;
  top: 1118px;
  right: 591px;
  bottom: 5554px;
  left: 591px;
  width: 258px;
  height: 496px;
  background-color: #0f0f0f;
  border-radius: 24px 24px 24px 24px;
}
.untitled-page .rect81 {
  position: absolute;
  top: 1118px;
  right: 313px;
  bottom: 5554px;
  left: 869px;
  width: 258px;
  height: 496px;
  background-color: #0f0f0f;
  border-radius: 24px 24px 24px 24px;
}
.untitled-page .rect82 {
  position: absolute;
  top: 1117px;
  right: 35px;
  bottom: 5555px;
  left: 1147px;
  width: 258px;
  height: 496px;
  background-color: #0f0f0f;
  border-radius: 24px 24px 24px 24px;
}
.untitled-page .rect9 {
  position: absolute;
  top: 2947px;
  right: 0px;
  bottom: 3555px;
  left: 0px;
  width: 1440px;
  height: 666px;
  background-color: black;
}
.untitled-page .rect10 {
  position: absolute;
  top: 3614px;
  right: 0px;
  bottom: 2793px;
  left: 0px;
  width: 1440px;
  height: 761px;
  background-color: black;
}
.untitled-page .rect11 {
  position: absolute;
  top: 4376px;
  right: 0px;
  bottom: 1903px;
  left: 0px;
  width: 1440px;
  height: 889px;
  background-color: black;
}
.untitled-page .rect12 {
  position: absolute;
  top: 5266px;
  right: 0px;
  bottom: 969px;
  left: 0px;
  width: 1440px;
  height: 933px;
  background-color: black;
}
.untitled-page .rect13 {
  position: absolute;
  top: 6200px;
  right: 0px;
  bottom: 723px;
  left: 0px;
  width: 1440px;
  height: 245px;
  background-color: black;
}
.untitled-page .rect14 {
  position: absolute;
  top: 6446px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 1440px;
  height: 722px;
  background-color: white;
}
.untitled-page .rect15 {
  position: absolute;
  top: 2196px;
  right: 0px;
  bottom: 4222px;
  left: 0px;
  width: 1440px;
  height: 750px;
  background-color: black;
}
.untitled-page .big_title {
  position: absolute;
  top: 1141px;
  right: 677px;
  bottom: 5985px;
  left: 674px;
  width: 89px;
  height: 42px;
  font: 500 36px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .big_title1 {
  position: absolute;
  top: 1141px;
  right: 392px;
  bottom: 5985px;
  left: 944px;
  width: 104px;
  height: 42px;
  font: 500 36px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .title {
  position: absolute;
  top: 1692px;
  right: 968px;
  bottom: 5400px;
  left: 40px;
  width: 432px;
  height: 76px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .title1 {
  position: absolute;
  top: 1963px;
  right: 978px;
  bottom: 5167px;
  left: 35px;
  width: 427px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .hero_title {
  position: absolute;
  top: 1863px;
  right: 1252px;
  bottom: 5230px;
  left: 38px;
  width: 150px;
  height: 75px;
  font: 700 64px/1.17 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .rect16 {
  position: absolute;
  top: 6289px;
  right: 278px;
  bottom: 807px;
  left: 264px;
  width: 898px;
  height: 72px;
  background-color: white;
  border-radius: 9px 9px 9px 9px;
}
.untitled-page .rect17 {
  position: absolute;
  top: 5918px;
  right: 224px;
  bottom: 1134px;
  left: 851px;
  width: 365px;
  height: 116px;
  background-color: #1c6856;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .title11 {
  position: absolute;
  top: 5453px;
  right: 20px;
  bottom: 1286px;
  left: 736px;
  width: 684px;
  height: 429px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .hero_title1 {
  position: absolute;
  top: 4419px;
  right: 244px;
  bottom: 2575px;
  left: 243px;
  display: flex;
  justify-content: center;
  width: 953px;
  height: 174px;
  font: 700 48px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
.untitled-page .image {
  position: absolute;
  top: 7px;
  right: 1347px;
  bottom: 7096px;
  left: 20px;
  width: 73px;
  height: 65px;
}
.untitled-page .title2 {
  position: absolute;
  top: 18px;
  right: 54px;
  bottom: 7112px;
  left: 1208px;
  width: 178px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .title21 {
  position: absolute;
  top: 18px;
  right: 423px;
  bottom: 7112px;
  left: 905px;
  width: 112px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .title22 {
  position: absolute;
  top: 18px;
  right: 274px;
  bottom: 7112px;
  left: 1066px;
  width: 100px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .title23 {
  position: absolute;
  top: 18px;
  right: 395px;
  bottom: 7112px;
  left: 1036px;
  width: 9px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .title24 {
  position: absolute;
  top: 20px;
  right: 1140px;
  bottom: 7110px;
  left: 122px;
  width: 178px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .title25 {
  position: absolute;
  top: 341px;
  right: 1223px;
  bottom: 6789px;
  left: 116px;
  width: 101px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title {
  position: absolute;
  top: 100px;
  right: 1353px;
  bottom: 7039px;
  left: 29px;
  width: 58px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title1 {
  position: absolute;
  top: 100px;
  right: 1238px;
  bottom: 7039px;
  left: 122px;
  width: 80px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title2 {
  position: absolute;
  top: 100px;
  right: 1079px;
  bottom: 7039px;
  left: 233px;
  width: 128px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title3 {
  position: absolute;
  top: 100px;
  right: 924px;
  bottom: 7039px;
  left: 392px;
  width: 124px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .image1 {
  position: absolute;
  top: 78px;
  right: 0px;
  bottom: 6475px;
  left: 791px;
  width: 649px;
  height: 615px;
}
.untitled-page .image2 {
  position: absolute;
  top: 341px;
  right: 1338px;
  bottom: 6789px;
  left: 61px;
  width: 41px;
  height: 38px;
}
.untitled-page .medium_title11 {
  position: absolute;
  top: 435px;
  right: 1176px;
  bottom: 6705px;
  left: 210px;
  width: 54px;
  height: 28px;
  font: 700 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .rect32 {
  position: absolute;
  top: 428px;
  right: 995px;
  bottom: 6695px;
  left: 320px;
  width: 125px;
  height: 45px;
  background-color: white;
  border-radius: 22.5px 22.5px 22.5px 22.5px;
}
.untitled-page .medium_title12 {
  position: absolute;
  top: 435px;
  right: 1028px;
  bottom: 6705px;
  left: 355px;
  width: 57px;
  height: 28px;
  font: 700 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .hero_title2 {
  position: absolute;
  top: 208px;
  right: 834px;
  bottom: 6866px;
  left: 29px;
  width: 577px;
  height: 94px;
  font: 700 40px/1.17 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .image3 {
  position: absolute;
  top: 723px;
  right: 1167px;
  bottom: 6207px;
  left: 35px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image31 {
  position: absolute;
  top: 1666px;
  right: 424px;
  bottom: 5264px;
  left: 778px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image32 {
  position: absolute;
  top: 723px;
  right: 889px;
  bottom: 6207px;
  left: 313px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image33 {
  position: absolute;
  top: 1666px;
  right: 743px;
  bottom: 5264px;
  left: 459px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image34 {
  position: absolute;
  top: 2239px;
  right: 333px;
  bottom: 4691px;
  left: 869px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image35 {
  position: absolute;
  top: 723px;
  right: 611px;
  bottom: 6207px;
  left: 591px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image36 {
  position: absolute;
  top: 1940px;
  right: 105px;
  bottom: 4990px;
  left: 1097px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image37 {
  position: absolute;
  top: 723px;
  right: 333px;
  bottom: 6207px;
  left: 869px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image38 {
  position: absolute;
  top: 1936px;
  right: 743px;
  bottom: 4994px;
  left: 463px;
  width: 234px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image39 {
  position: absolute;
  top: 723px;
  right: 55px;
  bottom: 6207px;
  left: 1147px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image310 {
  position: absolute;
  top: 1666px;
  right: 105px;
  bottom: 5264px;
  left: 1097px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image311 {
  position: absolute;
  top: 2239px;
  right: 889px;
  bottom: 4691px;
  left: 313px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .highlight {
  position: absolute;
  top: 1024px;
  right: 1350px;
  bottom: 6125px;
  left: 35px;
  width: 55px;
  height: 19px;
  font: 500 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .highlight1 {
  position: absolute;
  top: 999px;
  right: 1238px;
  bottom: 6150px;
  left: 35px;
  width: 167px;
  height: 19px;
  font: 700 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.4px;
}
.untitled-page .highlight2 {
  position: absolute;
  top: 972px;
  right: 1346px;
  bottom: 6177px;
  left: 35px;
  width: 59px;
  height: 19px;
  font: 700 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: #0019ff;
}
.untitled-page .highlight3 {
  position: absolute;
  top: 1024px;
  right: 1072px;
  bottom: 6125px;
  left: 313px;
  width: 55px;
  height: 19px;
  font: 500 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .highlight21 {
  position: absolute;
  top: 972px;
  right: 1068px;
  bottom: 6177px;
  left: 313px;
  width: 59px;
  height: 19px;
  font: 700 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: #0019ff;
}
.untitled-page .highlight11 {
  position: absolute;
  top: 999px;
  right: 912px;
  bottom: 6150px;
  left: 313px;
  width: 215px;
  height: 19px;
  font: 700 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .highlight4 {
  position: absolute;
  top: 1024px;
  right: 794px;
  bottom: 6125px;
  left: 591px;
  width: 55px;
  height: 19px;
  font: 500 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .highlight22 {
  position: absolute;
  top: 971px;
  right: 790px;
  bottom: 6178px;
  left: 591px;
  width: 59px;
  height: 19px;
  font: 700 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: #0019ff;
}
.untitled-page .highlight12 {
  position: absolute;
  top: 997px;
  right: 650px;
  bottom: 6152px;
  left: 591px;
  width: 199px;
  height: 19px;
  font: 700 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.31px;
}
.untitled-page .highlight13 {
  position: absolute;
  top: 999px;
  right: 408px;
  bottom: 6150px;
  left: 869px;
  width: 163px;
  height: 19px;
  font: 700 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.4px;
}
.untitled-page .highlight5 {
  position: absolute;
  top: 1024px;
  right: 529px;
  bottom: 6125px;
  left: 869px;
  width: 42px;
  height: 19px;
  font: 500 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .highlight23 {
  position: absolute;
  top: 971px;
  right: 512px;
  bottom: 6178px;
  left: 869px;
  width: 59px;
  height: 19px;
  font: 700 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: #0019ff;
}
.untitled-page .highlight6 {
  position: absolute;
  top: 1024px;
  right: 238px;
  bottom: 6125px;
  left: 1147px;
  width: 55px;
  height: 19px;
  font: 500 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .highlight24 {
  position: absolute;
  top: 971px;
  right: 234px;
  bottom: 6178px;
  left: 1147px;
  width: 59px;
  height: 19px;
  font: 700 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: #0019ff;
}
.untitled-page .highlight14 {
  position: absolute;
  top: 1000px;
  right: 80px;
  bottom: 6149px;
  left: 1147px;
  width: 213px;
  height: 19px;
  font: 700 16px/1.18 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.31px;
}
.untitled-page .subtitle {
  position: absolute;
  top: 1200px;
  right: 1091px;
  bottom: 5945px;
  left: 35px;
  width: 314px;
  height: 23px;
  font: 800 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: #fffcfc;
}
.untitled-page .subtitle1 {
  position: absolute;
  top: 1446px;
  right: 1023px;
  bottom: 5699px;
  left: 35px;
  width: 382px;
  height: 23px;
  font: 800 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: #fffcfc;
}
.untitled-page .subtitle11 {
  position: absolute;
  top: 1241px;
  right: 1044px;
  bottom: 5904px;
  left: 36px;
  width: 360px;
  height: 23px;
  font: 800 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .subtitle12 {
  position: absolute;
  top: 1282px;
  right: 991px;
  bottom: 5863px;
  left: 36px;
  width: 413px;
  height: 23px;
  font: 800 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .subtitle13 {
  position: absolute;
  top: 1323px;
  right: 1206px;
  bottom: 5822px;
  left: 35px;
  width: 199px;
  height: 23px;
  font: 800 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .image4 {
  position: absolute;
  top: 1199px;
  right: 707px;
  bottom: 5939px;
  left: 707px;
  width: 26px;
  height: 30px;
}
.untitled-page .image41 {
  position: absolute;
  top: 1240px;
  right: 707px;
  bottom: 5898px;
  left: 707px;
  width: 26px;
  height: 30px;
}
.untitled-page .image42 {
  position: absolute;
  top: 1281px;
  right: 707px;
  bottom: 5857px;
  left: 707px;
  width: 26px;
  height: 30px;
}
.untitled-page .image43 {
  position: absolute;
  top: 1320px;
  right: 707px;
  bottom: 5818px;
  left: 707px;
  width: 26px;
  height: 30px;
}
.untitled-page .image44 {
  position: absolute;
  top: 1199px;
  right: 429px;
  bottom: 5939px;
  left: 985px;
  width: 26px;
  height: 30px;
}
.untitled-page .image45 {
  position: absolute;
  top: 1240px;
  right: 429px;
  bottom: 5898px;
  left: 985px;
  width: 26px;
  height: 30px;
}
.untitled-page .image46 {
  position: absolute;
  top: 1281px;
  right: 429px;
  bottom: 5857px;
  left: 985px;
  width: 26px;
  height: 30px;
}
.untitled-page .image47 {
  position: absolute;
  top: 1320px;
  right: 429px;
  bottom: 5818px;
  left: 985px;
  width: 26px;
  height: 30px;
}
.untitled-page .image48 {
  position: absolute;
  top: 1361px;
  right: 429px;
  bottom: 5777px;
  left: 985px;
  width: 26px;
  height: 30px;
}
.untitled-page .image49 {
  position: absolute;
  top: 1402px;
  right: 429px;
  bottom: 5736px;
  left: 985px;
  width: 26px;
  height: 30px;
}
.untitled-page .image410 {
  position: absolute;
  top: 1445px;
  right: 429px;
  bottom: 5693px;
  left: 985px;
  width: 26px;
  height: 30px;
}
.untitled-page .image411 {
  position: absolute;
  top: 1199px;
  right: 151px;
  bottom: 5939px;
  left: 1263px;
  width: 26px;
  height: 30px;
}
.untitled-page .image412 {
  position: absolute;
  top: 1240px;
  right: 151px;
  bottom: 5898px;
  left: 1263px;
  width: 26px;
  height: 30px;
}
.untitled-page .image413 {
  position: absolute;
  top: 1281px;
  right: 151px;
  bottom: 5857px;
  left: 1263px;
  width: 26px;
  height: 30px;
}
.untitled-page .image414 {
  position: absolute;
  top: 1320px;
  right: 151px;
  bottom: 5818px;
  left: 1263px;
  width: 26px;
  height: 30px;
}
.untitled-page .image415 {
  position: absolute;
  top: 1361px;
  right: 151px;
  bottom: 5777px;
  left: 1263px;
  width: 26px;
  height: 30px;
}
.untitled-page .image416 {
  position: absolute;
  top: 1402px;
  right: 151px;
  bottom: 5736px;
  left: 1263px;
  width: 26px;
  height: 30px;
}
.untitled-page .image417 {
  position: absolute;
  top: 1445px;
  right: 151px;
  bottom: 5693px;
  left: 1263px;
  width: 26px;
  height: 30px;
}
.untitled-page .image418 {
  position: absolute;
  top: 1488px;
  right: 151px;
  bottom: 5650px;
  left: 1263px;
  width: 26px;
  height: 30px;
}
.untitled-page .image419 {
  position: absolute;
  top: 1531px;
  right: 151px;
  bottom: 5607px;
  left: 1263px;
  width: 26px;
  height: 30px;
}
.untitled-page .big_title2 {
  position: absolute;
  top: 1138px;
  right: 85px;
  bottom: 5988px;
  left: 1186px;
  width: 169px;
  height: 42px;
  font: 500 36px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .image312 {
  position: absolute;
  top: 1936px;
  right: 424px;
  bottom: 4994px;
  left: 778px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image313 {
  position: absolute;
  top: 2239px;
  right: 611px;
  bottom: 4691px;
  left: 591px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image314 {
  position: absolute;
  top: 2239px;
  right: 1167px;
  bottom: 4691px;
  left: 35px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .image315 {
  position: absolute;
  top: 2239px;
  right: 55px;
  bottom: 4691px;
  left: 1147px;
  width: 238px;
  height: 238px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .medium_title21 {
  position: absolute;
  top: 2499px;
  right: 1266px;
  bottom: 4641px;
  left: 131px;
  width: 43px;
  height: 28px;
  font: 700 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title22 {
  position: absolute;
  top: 2499px;
  right: 963px;
  bottom: 4641px;
  left: 389px;
  width: 88px;
  height: 28px;
  font: 700 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title23 {
  position: absolute;
  top: 2499px;
  right: 694px;
  bottom: 4641px;
  left: 694px;
  width: 52px;
  height: 28px;
  font: 700 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title24 {
  position: absolute;
  top: 2499px;
  right: 418px;
  bottom: 4641px;
  left: 954px;
  width: 68px;
  height: 28px;
  font: 700 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title25 {
  position: absolute;
  top: 2499px;
  right: 148px;
  bottom: 4641px;
  left: 1239px;
  width: 53px;
  height: 28px;
  font: 700 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title31 {
  position: absolute;
  top: 2546px;
  right: 1153px;
  bottom: 4314px;
  left: 54px;
  width: 233px;
  height: 308px;
  font: 100 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title32 {
  position: absolute;
  top: 2546px;
  right: 323px;
  bottom: 4398px;
  left: 884px;
  width: 233px;
  height: 224px;
  font: 100 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title33 {
  position: absolute;
  top: 2538px;
  right: 603px;
  bottom: 4378px;
  left: 604px;
  width: 233px;
  height: 252px;
  font: 100 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title34 {
  position: absolute;
  top: 2546px;
  right: 889px;
  bottom: 4370px;
  left: 318px;
  width: 233px;
  height: 252px;
  font: 100 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title35 {
  position: absolute;
  top: 2546px;
  right: 60px;
  bottom: 4370px;
  left: 1147px;
  width: 233px;
  height: 252px;
  font: 100 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .image5 {
  position: absolute;
  top: 3073px;
  right: 35px;
  bottom: 3706px;
  left: 765px;
  width: 640px;
  height: 389px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .subtitle2 {
  position: absolute;
  top: 3478px;
  right: 51px;
  bottom: 3666px;
  left: 765px;
  width: 624px;
  height: 24px;
  font: 700 20px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.1px;
}
.untitled-page .hero_title11 {
  position: absolute;
  top: 2959px;
  right: 68px;
  bottom: 4151px;
  left: 65px;
  width: 1307px;
  height: 58px;
  font: 700 48px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .hero_title3 {
  position: absolute;
  top: 3634px;
  right: 92px;
  bottom: 3366px;
  left: 765px;
  width: 583px;
  height: 168px;
  font: 700 48px/1.16 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .image6 {
  position: absolute;
  top: 3841px;
  right: 285px;
  bottom: 3228px;
  left: 765px;
  width: 390px;
  height: 99px;
}
.untitled-page .image7 {
  position: absolute;
  top: 3968px;
  right: 576px;
  bottom: 3101px;
  left: 765px;
  width: 99px;
  height: 99px;
  border-radius: 29px 29px 29px 29px;
}
.untitled-page .image8 {
  position: absolute;
  top: 3834px;
  right: 16px;
  bottom: 2939px;
  left: 792px;
  width: 632px;
  height: 395px;
}
.untitled-page .subtitle3 {
  position: absolute;
  top: 3780px;
  right: 993px;
  bottom: 3365px;
  left: 65px;
  width: 382px;
  height: 23px;
  font: 800 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: #fffcfc;
}
.untitled-page .subtitle14 {
  position: absolute;
  top: 3657px;
  right: 1176px;
  bottom: 3488px;
  left: 65px;
  width: 199px;
  height: 23px;
  font: 800 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .subtitle31 {
  position: absolute;
  top: 3868px;
  right: 919px;
  bottom: 3277px;
  left: 65px;
  width: 456px;
  height: 23px;
  font: 500 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .subtitle32 {
  position: absolute;
  top: 3822px;
  right: 1094px;
  bottom: 3323px;
  left: 65px;
  width: 281px;
  height: 23px;
  font: 500 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.1px;
}
.untitled-page .subtitle15 {
  position: absolute;
  top: 3739px;
  right: 900px;
  bottom: 3406px;
  left: 65px;
  width: 475px;
  height: 23px;
  font: 800 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .subtitle16 {
  position: absolute;
  top: 3698px;
  right: 923px;
  bottom: 3447px;
  left: 65px;
  width: 452px;
  height: 23px;
  font: 800 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .rect18 {
  position: absolute;
  top: 3921px;
  right: 847px;
  bottom: 2823px;
  left: 51px;
  width: 542px;
  height: 424px;
  border-radius: 24px 24px 24px 24px;
  outline: 1px solid white;
  outline-offset: -1px;
}
.untitled-page .rect19 {
  position: absolute;
  top: 4633px;
  right: 782px;
  bottom: 2035px;
  left: 122px;
  width: 536px;
  height: 500px;
  background-color: #292929;
  border-radius: 8px 8px 8px 8px;
}
.untitled-page .rect191 {
  position: absolute;
  top: 4633px;
  right: 128px;
  bottom: 2035px;
  left: 776px;
  width: 536px;
  height: 500px;
  background-color: #292929;
  border-radius: 8px 8px 8px 8px;
}
.untitled-page .title3 {
  position: absolute;
  top: 3940px;
  right: 886px;
  bottom: 2848px;
  left: 65px;
  display: flex;
  justify-content: center;
  width: 489px;
  height: 380px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
.untitled-page .image9 {
  position: absolute;
  top: 4633px;
  right: 782px;
  bottom: 2170px;
  left: 122px;
  width: 536px;
  height: 365px;
  border-radius: 8px 8px 8px 8px;
}
.untitled-page .image91 {
  position: absolute;
  top: 4638px;
  right: 128px;
  bottom: 2165px;
  left: 776px;
  width: 536px;
  height: 365px;
  border-radius: 8px 8px 8px 8px;
}
.untitled-page .subtitle21 {
  position: absolute;
  top: 5017px;
  right: 799px;
  bottom: 2055px;
  left: 139px;
  display: flex;
  justify-content: center;
  width: 502px;
  height: 96px;
  font: 700 20px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
.untitled-page .image10 {
  position: absolute;
  top: 5441px;
  right: 769px;
  bottom: 1134px;
  left: 22px;
  width: 649px;
  height: 593px;
  border-radius: 11px 11px 11px 11px;
}
.untitled-page .hero_title4 {
  position: absolute;
  top: 5944px;
  right: 285px;
  bottom: 1166px;
  left: 905px;
  width: 250px;
  height: 58px;
  font: 700 48px/1.2 "Inter", Helvetica, Arial, serif;
  color: #030000;
}
.untitled-page .hero_title5 {
  position: absolute;
  top: 5266px;
  right: 247px;
  bottom: 1825px;
  left: 188px;
  width: 1005px;
  height: 77px;
  font: 700 64px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title4 {
  position: absolute;
  top: 6241px;
  right: 0px;
  bottom: 898px;
  left: 264px;
  width: 1176px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .medium_title41 {
  position: absolute;
  top: 6312px;
  right: 972px;
  bottom: 827px;
  left: 284px;
  width: 184px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title5 {
  position: absolute;
  top: 6311px;
  right: 306px;
  bottom: 828px;
  left: 1014px;
  width: 120px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: #828181;
}
.untitled-page .image11 {
  position: absolute;
  top: 6487px;
  right: 1345px;
  bottom: 616px;
  left: 22px;
  width: 73px;
  height: 65px;
}
.untitled-page .title26 {
  position: absolute;
  top: 6500px;
  right: 1138px;
  bottom: 630px;
  left: 124px;
  width: 178px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .title27 {
  position: absolute;
  top: 6501px;
  right: 573px;
  bottom: 629px;
  left: 752px;
  width: 115px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .title28 {
  position: absolute;
  top: 6500px;
  right: 150px;
  bottom: 630px;
  left: 1104px;
  width: 186px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .title29 {
  position: absolute;
  top: 6500px;
  right: 747px;
  bottom: 630px;
  left: 361px;
  width: 332px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title6 {
  position: absolute;
  top: 6570px;
  right: 1219px;
  bottom: 570px;
  left: 124px;
  width: 97px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title61 {
  position: absolute;
  top: 6570px;
  right: 898px;
  bottom: 570px;
  left: 361px;
  width: 181px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title62 {
  position: absolute;
  top: 6630px;
  right: 1002px;
  bottom: 510px;
  left: 361px;
  width: 77px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title63 {
  position: absolute;
  top: 6570px;
  right: 611px;
  bottom: 570px;
  left: 752px;
  width: 77px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title64 {
  position: absolute;
  top: 6570px;
  right: 246px;
  bottom: 570px;
  left: 1104px;
  width: 90px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title65 {
  position: absolute;
  top: 6630px;
  right: 204px;
  bottom: 510px;
  left: 1104px;
  width: 132px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title66 {
  position: absolute;
  top: 6630px;
  right: 557px;
  bottom: 510px;
  left: 752px;
  width: 131px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title67 {
  position: absolute;
  top: 6690px;
  right: 604px;
  bottom: 450px;
  left: 752px;
  width: 84px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title68 {
  position: absolute;
  top: 6690px;
  right: 231px;
  bottom: 450px;
  left: 1104px;
  width: 105px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title69 {
  position: absolute;
  top: 6750px;
  right: 259px;
  bottom: 390px;
  left: 1104px;
  width: 77px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title610 {
  position: absolute;
  top: 6810px;
  right: 226px;
  bottom: 330px;
  left: 1104px;
  width: 110px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title611 {
  position: absolute;
  top: 6750px;
  right: 621px;
  bottom: 390px;
  left: 752px;
  width: 67px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title612 {
  position: absolute;
  top: 6810px;
  right: 606px;
  bottom: 330px;
  left: 752px;
  width: 82px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title613 {
  position: absolute;
  top: 6870px;
  right: 426px;
  bottom: 242px;
  left: 752px;
  width: 262px;
  height: 56px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title614 {
  position: absolute;
  top: 6690px;
  right: 955px;
  bottom: 450px;
  left: 361px;
  width: 124px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title615 {
  position: absolute;
  top: 6630px;
  right: 1247px;
  bottom: 510px;
  left: 124px;
  width: 69px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title616 {
  position: absolute;
  top: 6690px;
  right: 1210px;
  bottom: 450px;
  left: 124px;
  width: 106px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title617 {
  position: absolute;
  top: 6750px;
  right: 998px;
  bottom: 390px;
  left: 361px;
  width: 81px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .medium_title618 {
  position: absolute;
  top: 6750px;
  right: 1239px;
  bottom: 390px;
  left: 124px;
  width: 77px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .image111 {
  position: absolute;
  top: 7079px;
  right: 1359px;
  bottom: 43px;
  left: 35px;
  width: 46px;
  height: 46px;
}
.untitled-page .medium_title42 {
  position: absolute;
  top: 7088px;
  right: 1267px;
  bottom: 51px;
  left: 107px;
  width: 66px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
}
.untitled-page .image12 {
  position: absolute;
  top: 7050px;
  right: 25px;
  bottom: 24px;
  left: 1265px;
  width: 150px;
  height: 94px;
  border-radius: 4px 4px 4px 4px;
}
.untitled-page .subtitle17 {
  position: absolute;
  top: 1405px;
  right: 930px;
  bottom: 5740px;
  left: 35px;
  width: 475px;
  height: 23px;
  font: 800 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .subtitle18 {
  position: absolute;
  top: 1364px;
  right: 953px;
  bottom: 5781px;
  left: 35px;
  width: 452px;
  height: 23px;
  font: 800 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .subtitle33 {
  position: absolute;
  top: 1488px;
  right: 1124px;
  bottom: 5657px;
  left: 35px;
  width: 281px;
  height: 23px;
  font: 500 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.1px;
}
.untitled-page .subtitle34 {
  position: absolute;
  top: 1534px;
  right: 949px;
  bottom: 5611px;
  left: 35px;
  width: 456px;
  height: 23px;
  font: 500 20px/1.14 "Roboto", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .image51 {
  position: absolute;
  top: 3072px;
  right: 765px;
  bottom: 3707px;
  left: 35px;
  width: 640px;
  height: 389px;
  border-radius: 6px 6px 6px 6px;
}
.untitled-page .subtitle22 {
  position: absolute;
  top: 3478px;
  right: 795px;
  bottom: 3666px;
  left: 35px;
  width: 610px;
  height: 24px;
  font: 700 20px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.1px;
}
.untitled-page .subtitle23 {
  position: absolute;
  top: 3512px;
  right: 1294px;
  bottom: 3632px;
  left: 35px;
  width: 111px;
  height: 24px;
  font: 700 20px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.4px;
}
.untitled-page .subtitle24 {
  position: absolute;
  top: 3512px;
  right: 560px;
  bottom: 3632px;
  left: 765px;
  width: 115px;
  height: 24px;
  font: 700 20px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.untitled-page .subtitle25 {
  position: absolute;
  top: 5021px;
  right: 144px;
  bottom: 2075px;
  left: 794px;
  display: flex;
  justify-content: center;
  width: 502px;
  height: 72px;
  font: 700 20px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
  text-align: center;
}
.untitled-page .medium_title13 {
  position: absolute;
  top: 436px;
  right: 1312px;
  bottom: 6704px;
  left: 52px;
  width: 76px;
  height: 28px;
  font: 700 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}