.h1Title {
    color: blue;
    font-size: 40px;
}

body > div > div > div:nth-child(3) > div.fotorama.fotorama1745949306259 > div > div > div.fotorama__stage__shaft > div > img {
    width: 100%;
    height: 100%;
}

body {
    background: #7f9aeb;
}

.articles-row {
    background: #d9ca23;
}

.lipad {
    padding-right: 40px;
}

@media only screen
and (min-width: 1224 px) {

}

@media only screen
and (min-width: 1824px) {

}

media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

}
