.sound-kits.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 1937px;
  background-color: black;
  overflow: hidden;
}
.sound-kits .medium_title {
  position: absolute;
  top: 100px;
  right: 1364px;
  bottom: 1808px;
  left: 29px;
  width: 47px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.sound-kits .medium_title1 {
  position: absolute;
  top: 100px;
  right: 1238px;
  bottom: 1808px;
  left: 122px;
  width: 80px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.sound-kits .medium_title2 {
  position: absolute;
  top: 100px;
  right: 924px;
  bottom: 1808px;
  left: 392px;
  width: 124px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.sound-kits .rect {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 1859px;
  left: 0px;
  width: 1440px;
  height: 78px;
  background-color: white;
}
.sound-kits .image {
  position: absolute;
  top: 7px;
  right: 1347px;
  bottom: 1865px;
  left: 20px;
  width: 73px;
  height: 65px;
}
.sound-kits .title {
  position: absolute;
  top: 18px;
  right: 54px;
  bottom: 1881px;
  left: 1208px;
  width: 178px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .title1 {
  position: absolute;
  top: 18px;
  right: 423px;
  bottom: 1881px;
  left: 905px;
  width: 112px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .title2 {
  position: absolute;
  top: 18px;
  right: 274px;
  bottom: 1881px;
  left: 1066px;
  width: 100px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .title3 {
  position: absolute;
  top: 18px;
  right: 395px;
  bottom: 1881px;
  left: 1036px;
  width: 9px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .title4 {
  position: absolute;
  top: 20px;
  right: 1140px;
  bottom: 1879px;
  left: 122px;
  width: 178px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title3 {
  position: absolute;
  top: 100px;
  right: 1077px;
  bottom: 1808px;
  left: 235px;
  width: 128px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.sound-kits .rect1 {
  position: absolute;
  top: 1215px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 1440px;
  height: 722px;
  background-color: white;
}
.sound-kits .image1 {
  position: absolute;
  top: 1256px;
  right: 1345px;
  bottom: 616px;
  left: 22px;
  width: 73px;
  height: 65px;
}
.sound-kits .title5 {
  position: absolute;
  top: 1269px;
  right: 1138px;
  bottom: 630px;
  left: 124px;
  width: 178px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .title6 {
  position: absolute;
  top: 1270px;
  right: 573px;
  bottom: 629px;
  left: 752px;
  width: 115px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .title7 {
  position: absolute;
  top: 1269px;
  right: 150px;
  bottom: 630px;
  left: 1104px;
  width: 186px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .title8 {
  position: absolute;
  top: 1269px;
  right: 747px;
  bottom: 630px;
  left: 361px;
  width: 332px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title11 {
  position: absolute;
  top: 1339px;
  right: 1219px;
  bottom: 570px;
  left: 124px;
  width: 97px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title12 {
  position: absolute;
  top: 1339px;
  right: 898px;
  bottom: 570px;
  left: 361px;
  width: 181px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title13 {
  position: absolute;
  top: 1399px;
  right: 1002px;
  bottom: 510px;
  left: 361px;
  width: 77px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title14 {
  position: absolute;
  top: 1339px;
  right: 611px;
  bottom: 570px;
  left: 752px;
  width: 77px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title15 {
  position: absolute;
  top: 1339px;
  right: 246px;
  bottom: 570px;
  left: 1104px;
  width: 90px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title16 {
  position: absolute;
  top: 1399px;
  right: 204px;
  bottom: 510px;
  left: 1104px;
  width: 132px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title17 {
  position: absolute;
  top: 1399px;
  right: 557px;
  bottom: 510px;
  left: 752px;
  width: 131px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title18 {
  position: absolute;
  top: 1459px;
  right: 604px;
  bottom: 450px;
  left: 752px;
  width: 84px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title19 {
  position: absolute;
  top: 1459px;
  right: 231px;
  bottom: 450px;
  left: 1104px;
  width: 105px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title110 {
  position: absolute;
  top: 1519px;
  right: 259px;
  bottom: 390px;
  left: 1104px;
  width: 77px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title111 {
  position: absolute;
  top: 1579px;
  right: 226px;
  bottom: 330px;
  left: 1104px;
  width: 110px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title112 {
  position: absolute;
  top: 1519px;
  right: 621px;
  bottom: 390px;
  left: 752px;
  width: 67px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title113 {
  position: absolute;
  top: 1579px;
  right: 606px;
  bottom: 330px;
  left: 752px;
  width: 82px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title114 {
  position: absolute;
  top: 1639px;
  right: 426px;
  bottom: 242px;
  left: 752px;
  width: 262px;
  height: 56px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title115 {
  position: absolute;
  top: 1459px;
  right: 955px;
  bottom: 450px;
  left: 361px;
  width: 124px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title116 {
  position: absolute;
  top: 1399px;
  right: 1247px;
  bottom: 510px;
  left: 124px;
  width: 69px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title117 {
  position: absolute;
  top: 1459px;
  right: 1210px;
  bottom: 450px;
  left: 124px;
  width: 106px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title118 {
  position: absolute;
  top: 1519px;
  right: 998px;
  bottom: 390px;
  left: 361px;
  width: 81px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .medium_title119 {
  position: absolute;
  top: 1519px;
  right: 1239px;
  bottom: 390px;
  left: 124px;
  width: 77px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .image11 {
  position: absolute;
  top: 1848px;
  right: 1359px;
  bottom: 43px;
  left: 35px;
  width: 46px;
  height: 46px;
}
.sound-kits .medium_title21 {
  position: absolute;
  top: 1857px;
  right: 1267px;
  bottom: 51px;
  left: 107px;
  width: 66px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .image2 {
  position: absolute;
  top: 329px;
  right: 1139px;
  bottom: 1355px;
  left: 48px;
  width: 253px;
  height: 253px;
  border-radius: 5px 5px 5px 5px;
}
.sound-kits .image21 {
  position: absolute;
  top: 329px;
  right: 776px;
  bottom: 1355px;
  left: 411px;
  width: 253px;
  height: 253px;
  border-radius: 5px 5px 5px 5px;
}
.sound-kits .image22 {
  position: absolute;
  top: 329px;
  right: 413px;
  bottom: 1355px;
  left: 774px;
  width: 253px;
  height: 253px;
  border-radius: 5px 5px 5px 5px;
}
.sound-kits .image23 {
  position: absolute;
  top: 329px;
  right: 50px;
  bottom: 1355px;
  left: 1137px;
  width: 253px;
  height: 253px;
  border-radius: 5px 5px 5px 5px;
}
.sound-kits .hero_title {
  position: absolute;
  top: 165px;
  right: 555px;
  bottom: 1695px;
  left: 553px;
  width: 332px;
  height: 77px;
  font: 500 64px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.sound-kits .paragraph_box {
  position: absolute;
  top: 599px;
  right: 1236px;
  bottom: 1304px;
  left: 48px;
  width: 156px;
  height: 34px;
}
.sound-kits .paragraph {
  font: 500 14px/1.21 "Inter", Helvetica, Arial, serif;
  color: black;
}
.sound-kits .paragraph_span0 {
  font: 500 1em/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
}
.sound-kits .paragraph_span1 {
  font: 500 1em/1.21 "Inter", Helvetica, Arial, serif;
  color: #0734d4;
}
.sound-kits .paragraph_span2 {
  font: 500 1em/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
}
.sound-kits .paragraph_box1 {
  position: absolute;
  top: 600px;
  right: 873px;
  bottom: 1303px;
  left: 411px;
  width: 156px;
  height: 34px;
}
.sound-kits .paragraph_box2 {
  position: absolute;
  top: 599px;
  right: 510px;
  bottom: 1304px;
  left: 774px;
  width: 156px;
  height: 34px;
}
.sound-kits .paragraph_box3 {
  position: absolute;
  top: 599px;
  right: 147px;
  bottom: 1304px;
  left: 1137px;
  width: 156px;
  height: 34px;
}
.sound-kits .paragraph_box4 {
  position: absolute;
  top: 1036px;
  right: 1236px;
  bottom: 867px;
  left: 48px;
  width: 156px;
  height: 34px;
}
.sound-kits .paragraph_box5 {
  position: absolute;
  top: 1036px;
  right: 873px;
  bottom: 867px;
  left: 411px;
  width: 156px;
  height: 34px;
}
.sound-kits .paragraph_box6 {
  position: absolute;
  top: 1037px;
  right: 496px;
  bottom: 866px;
  left: 774px;
  width: 170px;
  height: 34px;
}
.sound-kits .paragraph_box7 {
  position: absolute;
  top: 1037px;
  right: 147px;
  bottom: 866px;
  left: 1137px;
  width: 156px;
  height: 34px;
}
.sound-kits .image24 {
  position: absolute;
  top: 752px;
  right: 1139px;
  bottom: 932px;
  left: 48px;
  width: 253px;
  height: 253px;
  border-radius: 5px 5px 5px 5px;
}
.sound-kits .image25 {
  position: absolute;
  top: 752px;
  right: 776px;
  bottom: 932px;
  left: 411px;
  width: 253px;
  height: 253px;
  border-radius: 5px 5px 5px 5px;
}
.sound-kits .image26 {
  position: absolute;
  top: 752px;
  right: 413px;
  bottom: 932px;
  left: 774px;
  width: 253px;
  height: 253px;
  border-radius: 5px 5px 5px 5px;
}
.sound-kits .image27 {
  position: absolute;
  top: 752px;
  right: 50px;
  bottom: 932px;
  left: 1137px;
  width: 253px;
  height: 253px;
  border-radius: 5px 5px 5px 5px;
}
.medium_title ,.medium_title1, .medium_title2, .medium_title3, .title, .title1 ,.title2, .title4
{
  text-decoration: none;
}
.medium_title:hover ,.medium_title1:hover, .medium_title2:hover, .medium_title3:hover, .title:hover, .title1:hover ,.title2:hover, .title4:hover, .image:hover, .image2:hover, .image21:hover, .image22:hover, .image23:hover, .image24:hover, .image25:hover, .image26:hover, .image27:hover{
    transform: scale(1.1);
    
    transition: transform 1s ease, box-shadow 1s ease; /* Додайте час переходу */
  }

  .paragraph_span0 {
    display: block;
    margin-bottom: 5px; /* Додати простір між рядками */
  }
  
  .paragraph_span1 {
    display: block;
    margin-bottom: 5px; /* Додати простір між рядками */
  }
  
  .paragraph_span2 {
    display: block;
  }