.tracks.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 1836px;
  background-color: black;
  overflow: hidden;
}
.tracks .medium_title {
  position: absolute;
  top: 100px;
  right: 1353px;
  bottom: 1707px;
  left: 29px;
  width: 58px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.tracks .medium_title1 {
  position: absolute;
  top: 100px;
  right: 1238px;
  bottom: 1707px;
  left: 122px;
  width: 80px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.tracks .medium_title2 {
  position: absolute;
  top: 100px;
  right: 924px;
  bottom: 1707px;
  left: 392px;
  width: 124px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.tracks .rect {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 1758px;
  left: 0px;
  width: 1440px;
  height: 78px;
  background-color: white;
}
.tracks .image {
  position: absolute;
  top: 7px;
  right: 1347px;
  bottom: 1764px;
  left: 20px;
  width: 73px;
  height: 65px;
}
.tracks .title {
  position: absolute;
  top: 18px;
  right: 54px;
  bottom: 1780px;
  left: 1208px;
  width: 178px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .title1 {
  position: absolute;
  top: 18px;
  right: 423px;
  bottom: 1780px;
  left: 905px;
  width: 112px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .title2 {
  position: absolute;
  top: 18px;
  right: 274px;
  bottom: 1780px;
  left: 1066px;
  width: 100px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .title3 {
  position: absolute;
  top: 18px;
  right: 395px;
  bottom: 1780px;
  left: 1036px;
  width: 9px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .title4 {
  position: absolute;
  top: 20px;
  right: 1140px;
  bottom: 1778px;
  left: 122px;
  width: 178px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title3 {
  position: absolute;
  top: 100px;
  right: 1077px;
  bottom: 1707px;
  left: 235px;
  width: 128px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.tracks .rect1 {
  position: absolute;
  top: 1114px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 1440px;
  height: 722px;
  background-color: white;
}
.tracks .image1 {
  position: absolute;
  top: 1155px;
  right: 1345px;
  bottom: 616px;
  left: 22px;
  width: 73px;
  height: 65px;
}
.tracks .title5 {
  position: absolute;
  top: 1168px;
  right: 1138px;
  bottom: 630px;
  left: 124px;
  width: 178px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .title6 {
  position: absolute;
  top: 1169px;
  right: 573px;
  bottom: 629px;
  left: 752px;
  width: 115px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .title7 {
  position: absolute;
  top: 1168px;
  right: 150px;
  bottom: 630px;
  left: 1104px;
  width: 186px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .title8 {
  position: absolute;
  top: 1168px;
  right: 747px;
  bottom: 630px;
  left: 361px;
  width: 332px;
  height: 38px;
  font: 700 32px/1.18 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title11 {
  position: absolute;
  top: 1238px;
  right: 1219px;
  bottom: 570px;
  left: 124px;
  width: 97px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title12 {
  position: absolute;
  top: 1238px;
  right: 898px;
  bottom: 570px;
  left: 361px;
  width: 181px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title13 {
  position: absolute;
  top: 1298px;
  right: 1002px;
  bottom: 510px;
  left: 361px;
  width: 77px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title14 {
  position: absolute;
  top: 1238px;
  right: 611px;
  bottom: 570px;
  left: 752px;
  width: 77px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title15 {
  position: absolute;
  top: 1238px;
  right: 246px;
  bottom: 570px;
  left: 1104px;
  width: 90px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title16 {
  position: absolute;
  top: 1298px;
  right: 204px;
  bottom: 510px;
  left: 1104px;
  width: 132px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title17 {
  position: absolute;
  top: 1298px;
  right: 557px;
  bottom: 510px;
  left: 752px;
  width: 131px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title18 {
  position: absolute;
  top: 1358px;
  right: 604px;
  bottom: 450px;
  left: 752px;
  width: 84px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title19 {
  position: absolute;
  top: 1358px;
  right: 231px;
  bottom: 450px;
  left: 1104px;
  width: 105px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title110 {
  position: absolute;
  top: 1418px;
  right: 259px;
  bottom: 390px;
  left: 1104px;
  width: 77px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title111 {
  position: absolute;
  top: 1478px;
  right: 226px;
  bottom: 330px;
  left: 1104px;
  width: 110px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title112 {
  position: absolute;
  top: 1418px;
  right: 621px;
  bottom: 390px;
  left: 752px;
  width: 67px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title113 {
  position: absolute;
  top: 1478px;
  right: 606px;
  bottom: 330px;
  left: 752px;
  width: 82px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title114 {
  position: absolute;
  top: 1538px;
  right: 426px;
  bottom: 242px;
  left: 752px;
  width: 262px;
  height: 56px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title115 {
  position: absolute;
  top: 1358px;
  right: 955px;
  bottom: 450px;
  left: 361px;
  width: 124px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title116 {
  position: absolute;
  top: 1298px;
  right: 1247px;
  bottom: 510px;
  left: 124px;
  width: 69px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title117 {
  position: absolute;
  top: 1358px;
  right: 1210px;
  bottom: 450px;
  left: 124px;
  width: 106px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title118 {
  position: absolute;
  top: 1418px;
  right: 998px;
  bottom: 390px;
  left: 361px;
  width: 81px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .medium_title119 {
  position: absolute;
  top: 1418px;
  right: 1239px;
  bottom: 390px;
  left: 124px;
  width: 77px;
  height: 28px;
  font: 600 24px/1.16 "Roboto", Helvetica, Arial, serif;
  color: black;
}
.tracks .image11 {
  position: absolute;
  top: 1747px;
  right: 1359px;
  bottom: 43px;
  left: 35px;
  width: 46px;
  height: 46px;
}
.tracks .medium_title21 {
  position: absolute;
  top: 1756px;
  right: 1267px;
  bottom: 51px;
  left: 107px;
  width: 66px;
  height: 29px;
  font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
}
.tracks .rect2 {
  position: absolute;
  top: 174px;
  right: 396px;
  bottom: 1568px;
  left: 402px;
  width: 642px;
  height: 94px;
  background-color: #2b1034;
  border-radius: 33px 33px 33px 33px;
}
.tracks .hero_title {
  position: absolute;
  top: 183px;
  right: 436px;
  bottom: 1576px;
  left: 433px;
  width: 571px;
  height: 77px;
  font: 500 64px/1.2 "Inter", Helvetica, Arial, serif;
  color: #924791;
}
.tracks .image2 {
  position: absolute;
  top: 361px;
  right: 1324px;
  bottom: 1388px;
  left: 29px;
  width: 87px;
  height: 87px;
  border-radius: 6px 6px 6px 6px;
}
.tracks .image21 {
  position: absolute;
  top: 463px;
  right: 1324px;
  bottom: 1286px;
  left: 29px;
  width: 87px;
  height: 87px;
  border-radius: 6px 6px 6px 6px;
}
.tracks .image3 {
  position: absolute;
  top: 566px;
  right: 1324px;
  bottom: 1184px;
  left: 29px;
  width: 87px;
  height: 86px;
  border-radius: 6px 6px 6px 6px;
}
.tracks .image22 {
  position: absolute;
  top: 668px;
  right: 1324px;
  bottom: 1081px;
  left: 29px;
  width: 87px;
  height: 87px;
  border-radius: 6px 6px 6px 6px;
}
.tracks .image23 {
  position: absolute;
  top: 770px;
  right: 1324px;
  bottom: 979px;
  left: 29px;
  width: 87px;
  height: 87px;
  border-radius: 6px 6px 6px 6px;
}
.tracks .title11 {
  position: absolute;
  top: 385px;
  right: 924px;
  bottom: 1412px;
  left: 181px;
  width: 335px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.7px;
}
.tracks .title12 {
  position: absolute;
  top: 487px;
  right: 829px;
  bottom: 1310px;
  left: 181px;
  width: 430px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
}
.tracks .title13 {
  position: absolute;
  top: 589px;
  right: 862px;
  bottom: 1208px;
  left: 181px;
  width: 397px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.6px;
}
.tracks .title14 {
  position: absolute;
  top: 692px;
  right: 931px;
  bottom: 1105px;
  left: 181px;
  width: 328px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.7px;
}
.tracks .title15 {
  position: absolute;
  top: 794px;
  right: 824px;
  bottom: 1003px;
  left: 181px;
  width: 435px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.5px;
}
.tracks .title16 {
  position: absolute;
  top: 896px;
  right: 260px;
  bottom: 901px;
  left: 139px;
  width: 1041px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
}
.tracks .title17 {
  position: absolute;
  top: 385px;
  right: 1269px;
  bottom: 1412px;
  left: 139px;
  width: 32px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
}
.tracks .title18 {
  position: absolute;
  top: 487px;
  right: 1269px;
  bottom: 1310px;
  left: 139px;
  width: 32px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
}
.tracks .title19 {
  position: absolute;
  top: 589px;
  right: 1269px;
  bottom: 1208px;
  left: 139px;
  width: 32px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
}
.tracks .title110 {
  position: absolute;
  top: 692px;
  right: 1269px;
  bottom: 1105px;
  left: 139px;
  width: 32px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
}
.tracks .title111 {
  position: absolute;
  top: 794px;
  right: 1269px;
  bottom: 1003px;
  left: 139px;
  width: 32px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: white;
}
.tracks .title21 {
  position: absolute;
  top: 385px;
  right: 787px;
  bottom: 1412px;
  left: 539px;
  width: 114px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: #0025a9;
}
.tracks .title22 {
  position: absolute;
  top: 487px;
  right: 700px;
  bottom: 1310px;
  left: 626px;
  width: 114px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: #0025a9;
}
.tracks .title23 {
  position: absolute;
  top: 589px;
  right: 720px;
  bottom: 1208px;
  left: 606px;
  width: 114px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: #0025a9;
}
.tracks .title24 {
  position: absolute;
  top: 692px;
  right: 815px;
  bottom: 1105px;
  left: 539px;
  width: 86px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: #0025a9;
}
.tracks .title25 {
  position: absolute;
  top: 795px;
  right: 672px;
  bottom: 1002px;
  left: 654px;
  width: 114px;
  height: 39px;
  font: 700 32px/1.21 "Inter", Helvetica, Arial, serif;
  color: #0025a9;
}
.tracks .hero_title1 {
  position: absolute;
  top: 872px;
  right: 1346px;
  bottom: 887px;
  left: 51px;
  width: 43px;
  height: 77px;
  font: 500 64px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
}
.tracks .image4 {
  position: absolute;
  top: 389px;
  right: 722px;
  bottom: 1416px;
  left: 687px;
  width: 31px;
  height: 31px;
}
.tracks .image41 {
  position: absolute;
  top: 487px;
  right: 634px;
  bottom: 1318px;
  left: 775px;
  width: 31px;
  height: 31px;
}
.tracks .image42 {
  position: absolute;
  top: 593px;
  right: 654px;
  bottom: 1212px;
  left: 755px;
  width: 31px;
  height: 31px;
}
.tracks .image43 {
  position: absolute;
  top: 696px;
  right: 750px;
  bottom: 1109px;
  left: 659px;
  width: 31px;
  height: 31px;
}
.tracks .image44 {
  position: absolute;
  top: 798px;
  right: 606px;
  bottom: 1007px;
  left: 803px;
  width: 31px;
  height: 31px;
}
.tracks .image45 {
  position: absolute;
  top: 696px;
  right: 694px;
  bottom: 1109px;
  left: 715px;
  width: 31px;
  height: 31px;
}
.tracks .image46 {
  position: absolute;
  top: 798px;
  right: 550px;
  bottom: 1007px;
  left: 859px;
  width: 31px;
  height: 31px;
}
.tracks .image47 {
  position: absolute;
  top: 593px;
  right: 598px;
  bottom: 1212px;
  left: 811px;
  width: 31px;
  height: 31px;
}
.tracks .image48 {
  position: absolute;
  top: 487px;
  right: 578px;
  bottom: 1318px;
  left: 831px;
  width: 31px;
  height: 31px;
}
.tracks .image49 {
  position: absolute;
  top: 389px;
  right: 666px;
  bottom: 1416px;
  left: 743px;
  width: 31px;
  height: 31px;
}
.tracks .image410 {
  position: absolute;
  top: 389px;
  right: 610px;
  bottom: 1416px;
  left: 799px;
  width: 31px;
  height: 31px;
}
.tracks .image411 {
  position: absolute;
  top: 487px;
  right: 522px;
  bottom: 1318px;
  left: 887px;
  width: 31px;
  height: 31px;
}
.tracks .image412 {
  position: absolute;
  top: 593px;
  right: 542px;
  bottom: 1212px;
  left: 867px;
  width: 31px;
  height: 31px;
}
.tracks .image413 {
  position: absolute;
  top: 696px;
  right: 638px;
  bottom: 1109px;
  left: 771px;
  width: 31px;
  height: 31px;
}
.tracks .image414 {
  position: absolute;
  top: 798px;
  right: 494px;
  bottom: 1007px;
  left: 915px;
  width: 31px;
  height: 31px;
}
.medium_title ,.title1, .title, .title2, .title4, .medium_title1 ,.medium_title2, .medium_title3
{
  text-decoration: none;
}
.title4:hover ,.title:hover, .title2:hover, .title1:hover , .rect4:hover, .rect41:hover , .rect42:hover,
.medium_title:hover , .medium_title1:hover ,.medium_title2:hover, .medium_title3:hover, .image:hover ,.hero_title:hover{
    transform: scale(1.1);
    
    transition: transform 1s ease, box-shadow 1s ease; /* Додайте час переходу */
  }

